
.movie-search-container {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ButtonColor {
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ButtonColor:disabled {
    background-color: #cccccc; 
}

.ButtonColor:hover:not(:disabled) {
    background-color: #0056b3; 
}


.container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}


p {
    margin: 5px 0;
}
